{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
		"sourceType": "module"
    },
    "rules": {
		"semi": [0],
        "react/jsx-filename-extension": [0],
		"react/jsx-one-expression-per-line": [0],
		"indent": ["error", "tab"],
		"no-tabs": 0,
		"react/jsx-indent": 0
    }

}
